<p-table [value]="dataList" class="sellerList">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Currencies</th>
            <th>Offices</th>
            <th>Deals</th>
        </tr>
    </ng-template>
    <ng-template ngFor pTemplate="body" let-data let-i="rowIndex">
        <tr>
            <td>
                {{data.sellerName}}</td>
            <td>
                <span *ngFor="let currency of data?.currency">
                    {{ currency.name}}<span *ngIf="data?.currency.length>1">,</span>
                </span>
            </td>
            <td>
                <span *ngFor="let office of data?.offices">
                    {{office.code}}<span *ngIf="data?.offices.length>1">,</span>
                </span>
            </td>
            <td>
                <span *ngIf="data.bidded">{{data.bidded }}</span>
                <span *ngIf="data.bidded && data.guaranteed"> , </span>
                <span *ngIf="data.guaranteed">{{ data.guaranteed}}</span>

            </td>
            <td>
                <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

                <span style="cursor: pointer;" (click)="deleteFun(i)"><i class="fa fa-trash-o "></i> </span>
                <span style="cursor: pointer; " (click)="editFun(i)"><i class="fa fa-edit"></i></span>
            </td>
        </tr>
    </ng-template>
</p-table>