<form [formGroup]="sellerForm" (ngSubmit)="onSubmit()" class="sellerForm">
    <div>
        <label class="label_width">Seller Name *</label>
        <input type="text" formControlName="sellerName" required>
        <p class="errors"
            *ngIf="sellerForm.get('sellerName').errors?.required && (sellerForm.get('sellerName').dirty || sellerForm.get('sellerName').touched ||showErrorMessage)">
            Seller Name is required
        </p>
    </div>
    <div class="multiSelect">
        <label class="label_width">Currency * </label>
        <p-multiSelect [virtualScroll]="true" name="currency" [options]="currencyArray" [(ngModel)]="selectedCurrency"
            optionLabel="name" formControlName="currency"></p-multiSelect>
        <p class="errors"
            *ngIf="sellerForm.get('currency').errors && (sellerForm.get('currency').dirty || sellerForm.get('currency').touched || showErrorMessage)">
            Please select Currency
        </p>
    </div>
    <div class="multiSelect">
        <label class="label_width"> Offices *</label>
        <p-multiSelect [virtualScroll]="true" class="multiselect-custom" name="Offices" [options]="officeArray"
            [(ngModel)]="selectedOffice" optionLabel="name" formControlName="offices"></p-multiSelect>
        <p class="errors"
            *ngIf="sellerForm.get('offices').errors && (sellerForm.get('offices').dirty || sellerForm.get('offices').touched || showErrorMessage)">
            Please select Office
        </p>
    </div>
    <div class="dealType" style="margin-bottom:0px">
        <label class="label_width">Deal Type</label>
        <div>
            <div>
                <p-checkbox class="p-field-checkbox" label="Bidded" value="bidded"
                    [formControl]="sellerForm.controls['bidded']"></p-checkbox>
            </div>
            <div>
                <p-checkbox class="p-field-checkbox" label="Guaranteed" value="guaranteed"
                    [formControl]="sellerForm.controls['guaranteed']"></p-checkbox>
            </div>
            <p class="errors dealtypeError" *ngIf="!biddedvalue&&!guaranteedvalue">
                Please select deal type
            </p>
        </div>
    </div>
    <div>
        <label class="label_width">Contact Name </label>
        <input type="text" formControlName="contactName">
    </div>
    <div>
        <label class="label_width"> Email </label>
        <input type="text" formControlName="email">
        <p class="errors" *ngIf="sellerForm.get('email').errors?.pattern">The email address must contain at least the @
            character</p>
    </div>
    <div class="buttonDiv" style="margin-bottom:20px ;">
        <p-button label="Cancel" styleClass="p-button-sm p-button-secondary" (click)="cancelForm()"></p-button>
        <p-button label="Submit" styleClass="p-button-sm" (click)="onSubmit()"></p-button>
    </div>

</form>
<app-seller-list></app-seller-list>