::ng-deep .p-multiselect-panel .p-multiselect-header {
  padding: 7px 9px;
}
.sellerForm{
  padding: 0 15px;
}
.sellerForm > div{
  margin-bottom:22px;
  position: relative;
}
.label_width{
  display: inline-block;
width: 120px;
}
.input_width{
width: 180px;
}
.buttonDiv > p-button:first-child{
margin-right: 15px;
}
::ng-deep .multiSelect .p-multiselect{
  height: 24px;
  width: 171px !important;
  border-color: gray;
}
::ng-deep .p-multiselect .p-multiselect-label{
  padding: 0px 0px 0px 6px !important;
  font-size: 13px;
}
::ng-deep .p-multiselect-panel .p-multiselect-header .p-multiselect-close{
  margin: 5px;
  width: 14px;
  height: 21px;
}
::ng-deep .p-checkbox .p-checkbox-box:not(.p-disabled).p-focus{
box-shadow: none;
}
::ng-deep .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container .p-inputtext{
padding: 4px 5px;
}
::ng-deep .p-inputtext:enabled:focus{
box-shadow: none;
}
.dealType{
  display: flex;
}

.sellerForm .errors{
  font-size: 11px;
  color: red;
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  top:13px;
  left: 120px;
}
.dealtypeError{
  top:25px !important;
}
