#sortingCard ::ng-deep .p-multiselect-panel .p-multiselect-header{
    display: none;
}
:host ::ng-deep .ui-multiselect-label {
    display: none !important;
  }
  .dateSec > div,
  .headSec>div{
    display: inline-block;
  }
  
  .headSec{
    border: 1px solid gray;
    padding: 16px;
  }
  